{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end gap-3">
        <a class="btn btn-success nav-btn" href="{{ path('app_main') }}">{{'nav.backMainPage'|trans}}</a>
        <a href="{{ path('app_register') }}" class="btn btn-primary nav-btn"><span class="desctop__btn">{{'nav.signUp'|trans}}</span> <i class="fa-solid fa-user-plus"></i></a>
    </div>
{% endblock %}

{% block body %}
<div class="container login">
    <form method="post" class="container pt-5 login__form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    
        <h2 class="h3 mb-3 font-weight-normal">{{'login.pleaseSignIn'|trans}}</h2>
        <label for="inputUsername">{{'login.username'|trans}}</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">{{'login.password'|trans}}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> {{'login.remember_me'|trans}}
            </label>
        </div>
    
        <button class="btn btn-primary" type="submit">
            {{'nav.signIn'|trans}}
        </button>
    </form>
</div>
{% endblock %}
