{% extends 'base.html.twig' %}

{% block title %}Collections managment app{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end flex-wrap gap-3">
        <a href="{{ path('app_collections') }}" class="btn btn-success nav-btn">{{'nav.openCollections'|trans}}</a>
        <a href="{{ path('app_user_managment') }}" class="btn btn-success nav-btn">{{'nav.users'|trans}}</a>
    {% if app.user == '' %}
        <a href="{{ path('app_login') }}" class="btn btn-success nav-btn"><span class="desctop__btn">{{'nav.signIn'|trans}} </span><i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="{{ path('app_register') }}" class="btn btn-primary nav-btn"><span class="desctop__btn">{{'nav.signUp'|trans}}</span> <i class="fa-solid fa-user-plus"></i></a>
    {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="container main pt-5">
        <h1 class="text-center">{{'title.mainPage'|trans}}</h1>
    </div>
{% endblock %}
