{% extends 'base.html.twig' %}

{% block title %}Collections managment app{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end flex-wrap gap-3">
        <form class="d-flex serch-collections" method="get">
            <input class="form-control me-2" type="search" name="searchfor" placeholder="{{'nav.searchCollections'|trans}}" aria-label="Search" value="{{searchfor}}"/>
            <button class="btn btn-outline-success" type="submit">{{'nav.search'|trans}}</button>
        </form>
        <a href="{{ path('app_collections', {page: 1}) }}" class="btn btn-success nav-btn">{{'nav.openCollections'|trans}}</a>
        <a href="{{ path('app_user_managment') }}" class="btn btn-success nav-btn">{{'nav.users'|trans}}</a>
    {% if app.user == '' %}
        <a href="{{ path('app_login') }}" class="btn btn-success nav-btn"><span class="desctop__btn">{{'nav.signIn'|trans}} </span><i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="{{ path('app_register') }}" class="btn btn-primary nav-btn"><span class="desctop__btn">{{'nav.signUp'|trans}}</span> <i class="fa-solid fa-user-plus"></i></a>
    {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="container main pt-5">
        <h1 class="text-center">{{'title.mainPage'|trans}}</h1>
        <h5>{{'title.lastAdded'|trans}}</h5>
        <ul>
            {% for collection in collections %}
                <li class="collection__main-page">
                    <a href="{{  path('app_category_info', {id: collection.id}) }}">{{collection.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
