{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end gap-3">
        <a href="{{ path('app_collections') }}" class="btn btn-success nav-btn">{{'collection.backToCollections'|trans}}</a>
        <a href="{{ path('app_collection_create') }}" class="btn btn-primary nav-btn">{{'collection.createCollection'|trans}}</a>
        {% if app.user == '' %}
            <a href="{{ path('app_login') }}" class="btn btn-success nav-btn"><span class="desctop__btn">{{'nav.signIn'|trans}} </span><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="{{ path('app_register') }}" class="btn btn-primary nav-btn"><span class="desctop__btn">{{'nav.signUp'|trans}}</span> <i class="fa-solid fa-user-plus"></i></a>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="container pt-5">
        
        <h2 class="pb-3 pt-3">{{'collection.collectionOwner'|trans}}: <b>{{category.getAuthor.username}}</b></h2>

        <div class="category__form">
            <div class="collection__title">
                <h3>{{ category.name }}</h3>
            </div>
            {% if app.user %}
                <div class="d-flex justify-content-center gap-3">
                    <a href="{{ path('app_category_edit', {id: category.getId()}) }}" class="btn btn-success">{{'collection.edit'|trans}} <i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('app_collection_item_create', {id: category.getId()}) }}" class="btn btn-primary">{{'collection.addItem'|trans}} <i class="fa-solid fa-plus"></i></a>
                </div>
            {% endif %}
        </div>
        <div class="collection__update">
            <span>{{'mainPage.updated'|trans}} {{category.updated|date('d m Y H:i:s')}}</span>
        </div>
        {% if category.description %}
            <p class="collection__description"><span>{{'collection.collectionDescription'|trans}}</span>: {{ category.description }}</p>
        {% else %}
            <p class="collection__description"><span>{{'mainPage.NoDescription'|trans}}</span></p>
        {% endif %}
        {% if customAttributes|length > 0 %}
            {% for item in customAttributes %}
                <span>{{item.name}} - {{item.type.name}}</span>
                <input type="{{item.type.name}}"/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

