{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="d-flex justify-content-end gap-3">
            <a href="/collections" class="btn btn-success nav-btn">Back to collections</a>
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
            {% if app.user == '' %}
                <a href="/login" class="btn btn-success nav-btn"><span class="desctop__btn">Sign in </span><i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="/register" class="btn btn-primary nav-btn"><span class="desctop__btn">Sign up</span> <i class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </div>
        
        <h2 class="pb-3 pt-3">Collection owner: <b>{{category.getAuthor.username}}</b></h2>

        <div class="category__form">
            <div class="collection__title">
                <h3>{{ category.name }}</h3>
            </div>
            {% if app.user %}
                <div class="d-flex justify-content-center gap-3">
                    <a href="/collection/edit/{{category.getId()}}" class="btn btn-success">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/collection/{{category.getId()}}/item/create" class="btn btn-primary">Add item <i class="fa-solid fa-plus"></i></a>
                </div>
            {% endif %}
        </div>
        <div class="collection__update">
            <span>Collection updated {{category.updated|date('d M Y H:i:s')}}</span>
        </div>
        {% if category.description %}
            <p class="collection__description"><span>Collection description</span>: {{ category.description }}</p>
        {% else %}
            <p class="collection__description"><span>There are no description yet</span></p>
        {% endif %}
        {% if customAttributes|length > 0 %}
            {% for item in customAttributes %}
                <span>{{item.name}} - {{item.type.name}}</span>
                <input type="{{item.type.name}}"/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

