{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="d-flex justify-content-end gap-3">
            <a href="/collection/info/{{category.getId()}}" class="btn btn-success nav-btn">Back to collection</a>
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
        </div>
        
        <h2 class="pb-3 pt-3">Collection owner: <b>{{category.getAuthor.username}}</b></h2>

        {# <form method="post" class="category__form">
            <div class="collection__title">
                <div class="collection__title-edit">
                    <label>Collection name</label>
                    <input name="collectionnewname" value="{{category.name}}" type="text" placeholder="enter new collection name"/>
                    <label>Collection description</label>
                    <textarea id="collectionnewdescription" name="collectionnewdescription" value="{{category.description}}" type="text"></textarea>
                    <select id="collection_create_catygoryType" name="collectionnewtype">
                        <option value="1">Business</option>
                        <option value="2">Technique</option>
                        <option value="3">Entertainme</option>
                        <option value="4">Science</option>
                        <option value="5">Nature</option>
                        <option value="6">Other</option></select>
                    <div class="collection__title-btn">
                        <a class="btn btn-danger collection__btn-delete" href="/collection/delete/{{category.getId()}}">Delete <i class="fa-solid fa-trash-can"></i></a>
                        <button class="btn btn-success" type="submit"><i class="fa-solid fa-check"></i></button>
                        <a href="/collection/info/{{category.getId()}}" class="btn btn-danger cancel-edit"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
        </form> #}

        <div class="m-0 m-auto pt-5">
            {{ form_start(form, { 'attr' : { 'class': 'category__form' } }) }}
                {{ form_errors(form) }}

                <label>New collection</label>
                {{ form_row(form.name, { 'attr' : { 'placeholder': 'Enter name' } }) }}
                {{ form_row(form.description, { 'attr' : { 'placeholder': 'Enter description', 'rows': '5' } }) }}
                {{ form_row(form.catygoryType) }}

                <div
                    data-index="{{ form.customAttributes|length > 0 ? form.customAttributes|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.customAttributes.vars.prototype)|e('html_attr') }}"
                    id="custom-attributes-wrapper"
                >
                    {% for customAttribute in form.customAttributes %}
                        <div class="item">
                            {{form_row(customAttribute)}}
                        </div>
                    {% endfor %}
                </div>

                <a id="add-custom-attribute" class="btn btn-primary" href="#">Add attribute <i class="fa-solid fa-plus"></i></a>
                <div class="collection__title-btn">
                    <button type="submit" class="btn btn-primary" id="btn-create-category">Update</button>
                    <a class="btn btn-danger collection__btn-delete" href="/collection/delete/{{category.getId()}}">Delete <i class="fa-solid fa-trash-can"></i></a>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
