<div>
    <div class="mt-4">
        {% if app.user %}
            {{ form_start(form, { 'attr' : { 'class': 'add-comment-form' } }) }}
            <h5>{{'user.addNewComment'|trans}}</h5>
            {{ form_errors(form) }}
            {{ form_row(form.content) }}
            {{ form_rest(form) }}
            <div>
                <button type="submit" class="btn btn-primary add-comment">
                    <span class="add-comment__btn-text">{{'itemCollection.send'|trans}}</span>
                    <span class="loader"></span>
                </button>
            </div>
        {{ form_end(form) }}
        {% endif %}
    </div>
</div>
{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const addCommentForm = document.querySelector(".add-comment-form");
            const btnSendloader = document.querySelector(".loader");
            const btnSendComment = document.querySelector(".add-comment");

            if (addCommentForm) {
                addCommentForm.addEventListener("submit", (e) => {
                    btnSendloader.classList.add("active");
                    btnSendComment.setAttribute("disabled", "true")
                });
            }
        });
    </script>
{% endblock %}