{% extends 'base.html.twig' %}

{% block title %}Update collection item{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end gap-3">
        <a href="{{ path('app_category_info', {id: id}) }}" class="btn btn-success nav-btn">{{'collection.backToCollection'|trans}}</a>
    </div>
{% endblock %}

{% block body %}
    <div class="container pt-5">

        <h1>{{'createCollectionItem.collectionItemEdit'|trans({'%name%': category.name})}}</h1>
        {{ form_start(form, { 'attr' : { 'class': 'category__form' } }) }}
            {{ form_errors(form) }}
            
            <label>{{'createCollectionItem.newItem'|trans}}</label>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            {% for attribute in form %}
                {% if attribute.vars.name starts with 'custom_' %}
                    <div class="mb-3">
                        {{ form_label(attribute) }}
                    </div>
                {% endif %}
            {% endfor %}

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary" id="btn-create-category-item" formnovalidate>{{'createCollection.update'|trans}}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}