{% extends 'base.html.twig' %}

{% block title %}Create item in collection{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-end">
            <a href="/collection/info/{{id}}" class="btn btn-success nav-btn">Back to collection</a>
        </div>

        <h1>Item create for collection</h1>
        {{ form_start(form, { 'attr' : { 'class': 'category__form' } }) }}
            {{ form_errors(form) }}
            
            <label>New collection item</label>
            {{ form_row(form.name, { 'attr' : { 'placeholder': 'name' } }) }}
            {{ form_row(form.description, { 'attr' : { 'placeholder': 'description' } }) }}

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-lg btn-primary" id="btn-create-category-item">Create</button>
        {{ form_end(form) }}

    </div>
{% endblock %}