{% extends 'base.html.twig' %}

{% block title %}Hello UserManagmentController!{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="d-flex justify-content-end gap-3 mt-3">
        <a href="/collections/1" class="btn btn-success nav-btn">Open collections list</a>
        <a href="/" class="btn btn-success nav-btn">Main page</a>
    </div>
    <h1 data-is-autheuser={{ app.user.getId }} class="active-user">Hello, {{ app.user.userIdentifier }}!</h1>

    <div class="container pb-3 pt-3">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <span class="fs-4">Here you can manage users in App</span>
            <div class="">
                <button class="btn mr-5 btn-danger" id="delete-user">
                    delete <i title="delete user" class="fas fa fa-trash-alt"></i>
                </button>
                <button class="btn mr-5 btn-primary" id="block-user">
                    block <i title="block user" class="fa-solid fa-user-lock"></i>
                </button>
                <button class="btn btn-success" id="unblock-user">
                    activate <i title="unblock user" class="fa-solid fa-lock-open"></i>
                </button>
                <button class="btn btn-success" id="make-user-admin">
                    make admin <i title="make user admin" class="fa-solid fa-user-tie"></i>
                </button>
                <button class="btn mr-5 btn-danger" id="make-user-notadmin">
                    make not admin <i title="make user not admin" class="fa-solid fa-user-minus"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-bordered container">
            <thead class="thead-dark">
            <tr>
                <th><input id="select-all" type="checkbox"></th>
                {# <th>User Id</th> #}
                <th>User name</th>
                <th>User email</th>
                <th>Registration Date</th>
                <th>Last Login Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" name="selectedUser" class="user-checkbox" value="{{ user.id }}"></td>
                    <td>{{ user.getUsername }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.getRegistrationDate|date('d M Y H:i:s') }}</td>
                    <td>{{ user.getLastLogin|date('d M Y H:i:s') }}</td>
                    <td>
                        {% if user.getRoles[0] == 'ROLE_BLOCKED' %}
                            <span style="color: red"><b>blocked</b></span>
                        {% elseif user.getRoles[0] == 'ROLE_ADMIN' %}
                            <span style="color: green"><b>admin</b></span>
                        {% else %}
                            <span style="color: blue"><b>user</b></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
