{% extends 'base.html.twig' %}

{% block title %}User Managment{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end gap-3 mt-3">
        <a href="{{ path('app_collections', {page: 1}) }}" class="btn btn-success nav-btn">{{'nav.openCollections'|trans}}</a>
        <a href="{{ path('app_main') }}" class="btn btn-success nav-btn">{{'nav.mainPage'|trans}}</a>
    </div>
{% endblock %}

{% block body %}
<div class="container pt-5">

    <div class="container pb-3 pt-3">
        <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
            <form class="d-flex" method="get">
                <input class="form-control me-2" type="search" name="searchUser" placeholder="{{'nav.findUser'|trans}}" aria-label="Search" value="{{searchUser}}"/>
                <button class="btn btn-outline-success" type="submit">{{'nav.search'|trans}}</button>
            </form>
            <div>
                <button class="btn mr-5 mb-1 btn-danger" id="delete-user">
                    <span class="users__managment-btn">{{'users.deleteUser'|trans}}</span> <i title="delete user" class="fas fa fa-trash-alt"></i>
                </button>
                <button class="btn mr-5 mb-1 btn-primary" id="block-user">
                    <span class="users__managment-btn">{{'users.blockUser'|trans}}</span> <i title="block user" class="fa-solid fa-user-lock"></i>
                </button>
                <button class="btn mb-1 btn-success" id="unblock-user">
                    <span class="users__managment-btn">{{'users.activateUser'|trans}}</span> <i title="unblock user" class="fa-solid fa-lock-open"></i>
                </button>
                <button class="btn mb-1 btn-success" id="make-user-admin">
                    <span class="users__managment-btn">{{'users.makeAdmin'|trans}}</span> <i title="make user admin" class="fa-solid fa-user-tie"></i>
                </button>
                <button class="btn mb-1 mr-5 btn-danger" id="make-user-notadmin">
                    <span class="users__managment-btn">{{'users.makeNotAdmin'|trans}}</span> <i title="make user not admin" class="fa-solid fa-user-minus"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-bordered container">
            <thead class="thead-dark">
            <tr>
                <th><input id="select-all" type="checkbox"></th>
                {# <th>User Id</th> #}
                <th>{{'users.userName'|trans}}</th>
                <th>Email</th>
                <th>{{'users.registrationDate'|trans}}</th>
                <th>{{'users.lastLoginDate'|trans}}</th>
                <th>{{'users.status'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" name="selectedUser" class="user-checkbox" value="{{ user.id }}"></td>
                    <td>{{ user.getUsername }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.getRegistrationDate|date('d M Y H:i:s') }}</td>
                    <td>{{ user.getLastLogin|date('d M Y H:i:s') }}</td>
                    <td>
                        {% if user.getRoles[0] == 'ROLE_BLOCKED' %}
                            <span style="color: red"><b>{{'users.blocked'|trans}}</b></span>
                        {% elseif user.getRoles[0] == 'ROLE_ADMIN' %}
                            <span style="color: green"><b>{{'users.admin'|trans}}</b></span>
                        {% else %}
                            <span style="color: blue"><b>{{'users.user'|trans}}</b></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
