{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block header %}
    <div class="d-flex justify-content-end flex-wrap gap-3">
        <form class="d-flex" method="get">
            <input class="form-control me-2" type="search" name="searchfor" placeholder="{{'nav.search'|trans}}" aria-label="Search" value="{{searchfor}}"/>
            <button class="btn btn-outline-success" type="submit">{{'nav.search'|trans}}</button>
        </form>
        <a href="{{ path('app_main') }}" class="btn btn-success nav-btn">{{'nav.mainPage'|trans}}</a>
        <a href="{{ path('app_user_managment') }}" class="btn btn-success nav-btn">{{'nav.users'|trans}}</a>
        {% if username == 'Guest' %}
            <a href="{{ path('app_login') }}" class="btn btn-success nav-btn"><span class="desctop__btn">{{'nav.signIn'|trans}} </span><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="{{ path('app_register') }}" class="btn btn-primary nav-btn"><span class="desctop__btn">{{'nav.signUp'|trans}}</span> <i class="fa-solid fa-user-plus"></i></a>
        {% else %}
            <a href="{{ path('app_collection_create') }}" class="btn btn-primary nav-btn">{{'collection.createCollection'|trans}}</a>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
<div class="container pt-5">
    <p class="collections__text">{{'mainPage.title'|trans}}</p>
    {% if searchfor != '' %}
        <p class="collections__text">Search result for <b>"{{searchfor}}"</b></p>
    {% endif %}
        <div class="collections">
            <ul class="row">
                {% for collection in categories %}
                    <li class="col-xl-6 collections__item">
                        <div class="card gap-3 p-1">
                            <a href="{{ path('app_category_info', {id: collection.id}) }}">{{collection.name}}</a>
                            {% if collection.description %}
                                <p>{{collection.description}}</p>
                            {% else %}
                                <p>{{'mainPage.NoDescription'|trans}}</p>
                            {% endif %}
                            <p class="collections__item-owner">{{'mainPage.owner'|trans}}: <b>{{collection.getAuthor.username}}</b></p>
                            <p class="collections__item-owner">{{'mainPage.category'|trans}}: <b>{{collection.getCatygoryType.name}}</b></p>
                            {% if collection.getUpdated %}
                                <p class="collections__item-owner">{{'mainPage.updated'|trans}}: <i>{{collection.updated|date('d M Y H:i:s')}}</i></p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    <nav aria-label="Page navigation example" class="app-pagination">
        <ul class="pagination">
            {% if searchfor == '' and categoryAmount > 0 %}
                {% for i in 1..categoryAmount %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_collections') }}/{{i}}">{{i}}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
