{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container pt-5">
    {% if username == 'Guest' %}
        <div class="d-flex justify-content-end gap-3">
            <a href="/login" class="btn btn-success nav-btn"><span class="desctop__btn">Sign in </span><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="/" class="btn btn-success nav-btn">back to main</a>
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-end flex-wrap gap-3">
            <form class="d-flex" method="get">
                <input class="form-control me-2" type="search" name="searchfor" placeholder="Search" aria-label="Search" value="{{searchfor}}"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a href="/" class="btn btn-success nav-btn">Main page</a>
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
        </div>
    {%  endif %}
    <p class="collections__text">Here you can see collections, wich you can use to create your own items for this collections.</p>
    {% if searchfor != '' %}
        <p class="collections__text">Search result for <b>"{{searchfor}}"</b></p>
    {% endif %}
        <ul class="collections">
            {% for collection in categories %}
                <li class="collections__item"><a href="/collection/edit/{{collection.id}}">{{collection.name}}</a></li>
            {% endfor %}
        </ul>

    <nav aria-label="Page navigation example" class="app-pagination">
        <ul class="pagination">
            {% if searchfor == '' and categoryAmount > 0 %}
                {% for i in 1..categoryAmount %}
                        <li class="page-item"><a class="page-link" href="/collections/{{i}}">{{i}}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
