{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="d-flex justify-content-end flex-wrap gap-3">
        <form class="d-flex" method="get">
            <input class="form-control me-2" type="search" name="searchfor" placeholder="Search" aria-label="Search" value="{{searchfor}}"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="/" class="btn btn-success nav-btn">Main page</a>
        <a href="/user/managment" class="btn btn-success nav-btn">Users</a>
        {% if username == 'Guest' %}
            <a href="/login" class="btn btn-success nav-btn"><span class="desctop__btn">Sign in </span><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="/register" class="btn btn-primary nav-btn"><span class="desctop__btn">Sign up</span> <i class="fa-solid fa-user-plus"></i></a>
        {% else %}
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
        {% endif %}
    </div>
    <p class="collections__text">Here you can see collections list.</p>
    {% if searchfor != '' %}
        <p class="collections__text">Search result for <b>"{{searchfor}}"</b></p>
    {% endif %}
        <ul class="collections">
            {% for collection in categories %}
                <li class="collections__item d-flex flex-wrap gap-3">
                    <a href="/collection/edit/{{collection.id}}">{{collection.name}}</a>
                    <p class="collections__item-owner">collection owner: <b>{{collection.getAuthor.username}}</b></p>
                </li>
            {% endfor %}
        </ul>

    <nav aria-label="Page navigation example" class="app-pagination">
        <ul class="pagination">
            {% if searchfor == '' and categoryAmount > 0 %}
                {% for i in 1..categoryAmount %}
                    <li class="page-item"><a class="page-link" href="/collections/{{i}}">{{i}}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
